* {
    padding: 0;
    Margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background-color: #bcbcf2;
    border-bottom: 3px solid tomato;
    margin-bottom: 20px;
}

footer {
    background-color: #bcbcf2;
    border-top: 3px solid tomato;
    text-align: center;
    padding: 10px;
}

article {
    background-color: #E7E8FF;
    margin: 0 auto 20px;
    border: 2px solid dodgerblue;
    padding: 50px;
    width: 70%;
    border-radius: 10px;
}

nav {
    list-style-type: none;
}

.nav-bar,
.nav-link {
    display: inline;
}

.repo_list{
    display:inline-block
}

#brand-title {
    margin-right: 20px;
}

a {
    color: darkslateblue;
    font-weight:lighter;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    color: white;
}

form {
    border: 2px dotted black;
    width: 30%;
    margin: 0 auto 20px;
    border-radius: 20px;
    padding: 20px;
}

main {
    text-align: center;
}

.form-label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 5px;
    border-radius: 5px;
}

#profile-picture {
    width: 25%;
    border-radius: 50%;
    border: 2px solid black
}

li{
    text-align: left;
}